<%= form_for(@person) do |f| %>
  <div class="form-container">
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :l_name, "Last Name" %><br />
      <%= f.text_field :l_name %>
    </div>
    <div class="field">
      <%= f.label :f_name, "First Name"  %><br />
      <%= f.text_field :f_name %>
    </div>
    <div class="field">
      <%= f.label :email, "E-Mail"  %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :city, "City"  %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state, "State"  %><br />
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :zip, "Zip Code"  %><br />
      <%= f.text_field :zip %>
    </div>
    <div class="field">
      <%= f.label :age, "Age" %><br />
      <%= f.number_field :age %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
